.form-message {
  display: none;
  border: 4px solid #8effb2;
  border-radius: 8px;
  padding: 16px;
  margin-top: -32px;
  margin-bottom: 32px;
}
.form-message.error {
  border-color: #ff0059;
}

.validate-text {
  color: var(--att-color-01);
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}
