/* 体重メモフォーム */
.record-form__contents {
  border-bottom: 1px solid var(--line-color);
  padding: 24px;
}
.record-form__contents:first-child {
  border-top: 1px solid var(--line-color);
}

.record-form__contents .basic-info-form__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.record-form__contents label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}
.label-att {
  font-size: 14px;
  margin-left: 8px;
}
.record-form__input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.record-form__input input,
.record-form__input textarea {
  border: none;
  padding: 8px;
}
.record-form__input #weight {
  font-weight: bold;
  font-size: 20px;
  width: 104px;
}
.record-form__input #weight::placeholder {
  font-size: 18px;
}
.record-form__input #memo {
  width: 100%;
  min-height: 40px;
  overflow-y: hidden;
  resize: none;
  line-height: 1.6;
}
.weight__unit {
  font-weight: bold;
  font-size: 18px;
}
/* / 体重メモフォーム */

@media (max-width: 599px) {
  /* 体重メモフォーム */
  .record-form__input input,
  .record-form__input textarea {
    padding: 4px;
  }
  .record-form__input #memo {
    min-height: 60px;
  }
  /* / 体重メモフォーム */
}
