RewriteEngine On
RewriteBase /

# ルートに来たら「/home」にリダイレクト
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /home [R=301,L]

# 「/home」や「/log」などのアクセスを「index.php?page=home」に変換
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.php?page=$1 [QSA,L]

# wwwなしでアクセスされたら、www付きにリダイレクト
RewriteCond %{HTTP_HOST} ^weight-web\.site [NC]
RewriteRule ^(.*)$ https://www.weight-web.site/$1 [R=301,L]