.header__left {
  display: flex;
  gap: 24px;
}

.header__logo {
  font-size: 20px;
}
.header__logo a,
.header__info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo img {
  width: 40px;
  height: 40px;
}

.header__profile {
  border-radius: 50%;
  line-height: 0;
  padding: 8px;
  transition: 0.3s all;
}
.header__profile:hover {
  background-color: var(--blue-02);
}

.header__user-id {
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 599px) {
  .header__profile {
    display: none;
  }
  .header__user-id {
    font-size: 14px;
  }
}
