body {
  background: #fff;
}

.layout {
  display: flex;
  justify-content: flex-end;
}

.layout__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--side-bg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: var(--sidebar-width_open);
  height: 100vh;
  padding: 16px;
  transition: 0.3s all;
  z-index: 110;
}
.layout__sidebar.open {
  align-items: flex-start;
  width: var(--sidebar-width_open);
  padding: 16px;
}
.layout__sidebar.close {
  width: var(--sidebar-width_close);
  padding: 16px 8px;
}

.layout__content {
  position: relative;
  width: calc(100% - var(--sidebar-width_open));
  transition: 0.3s all;
}
.layout__sidebar.close + .layout__content {
  width: calc(100% - var(--sidebar-width_close));
}

.layout__header {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 16px 24px;
  transition: 0.5s all;
  z-index: 100;
}

.layout__main {
  max-width: calc(960px + 24px * 2);
  width: 100%;
  margin: auto;
  padding: 24px 24px 80px;
}

.layout__sp-menu {
  width: 100%;
  display: flex;
}

@media (max-width: 1299px) {
  .layout__sidebar {
    width: var(--sidebar-width_close);
    padding: 16px 8px;
  }
  .layout__content {
    width: calc(100% - var(--sidebar-width_close));
  }
}

@media (max-width: 599px) {
  .layout__sidebar.open,
  .layout__sidebar.close {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    padding: 8px 16px;
    transition: none;
  }
  .layout__content,
  .layout__sidebar.close + .layout__content {
    width: 100%;
  }
  .layout__header {
    padding: 16px;
  }
  .layout__main {
    padding: 24px 16px 152px;
  }
}
