.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page-title {
  font-size: 24px;
}

.contents-title {
  font-size: 20px;
  font-weight: bold;
}

.copy-link {
  cursor: pointer;
}
.copy-link * {
  pointer-events: none;
}

.copy-dialog {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 20px;
  width: 280px;
  text-align: center;
  opacity: 0;
  transition: 0.3s all;
  z-index: 1000;
}
.copy-dialog.show {
  opacity: 1;
}

@media (max-width: 599px) {
  .page {
    gap: 24px;
  }

  .contents-title {
    font-size: 18px;
  }
}
