.sidebar__menu-toggle {
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  padding: 0;
}

.sidebar__nav {
  width: 100%;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.layout__sidebar.open .sidebar__list {
  width: 100%;
  align-items: normal;
}

.sidebar__list .btn,
.sidebar__list .btn.btn--record {
  height: 56px;
  transition: 0.3s all;
}
.layout__sidebar.close .sidebar__list .btn,
.layout__sidebar.close .btn.btn--record {
  justify-content: center;
  padding: 14px 16px;
  width: 56px;
}
.layout__sidebar.open .sidebar__list .btn,
.layout__sidebar.open .btn.btn--record {
  justify-content: flex-start;
  padding: 14px 24px;
  width: 100%;
}

.layout__sidebar .btn--nav.sidebar__link--active,
.layout__sidebar .btn--nav.sidebar__link--active:hover {
  background-color: var(--blue-02);
}

.layout__sidebar .btn__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.layout__sidebar.close .btn__text {
  display: none;
}
.layout__sidebar.open .btn__text {
  display: block;
}

@media (max-width: 599px) {
  .sidebar__menu-toggle {
    display: none;
  }

  .layout__sidebar .btn.btn--record {
    position: fixed;
    bottom: 80px;
    right: 16px;
  }
  .layout__sidebar .btn.btn--record .btn__text {
    display: none;
  }

  .sidebar__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .layout__sidebar.close .sidebar__list .btn,
  .layout__sidebar.close .btn.btn--record,
  .layout__sidebar.open .sidebar__list .btn,
  .layout__sidebar.open .btn.btn--record {
    margin: auto;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    padding: 0;
    width: 56px;
    height: 56px;
  }
  .layout__sidebar.open .sidebar__link .btn__text,
  .layout__sidebar.close .sidebar__link .btn__text {
    display: block;
    font-size: 10px;
  }
}
