.terms {
  max-width: 1008px;
  width: 100%;
  margin: auto;
  padding: 24px 24px 80px;
}

.terms__contents {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 48px 0 0;
}

.terms__title {
  font-size: 32px;
}
.terms__first-text {
  line-height: 1.8;
}

.terms-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.terms-list__title {
  border-left: 6px solid var(--blue-01);
  font-size: 24px;
  padding: 8px 32px;
  margin-bottom: 40px;
}

.terms-list__ul {
  margin-top: 8px;
}
.terms-list__ul li {
  padding-left: 1.2em;
  text-indent: -1.2em;
  margin-bottom: 8px;
}

.terms__enactment {
  font-weight: bold;
  margin-top: 24px;
}

@media (max-width: 599px) {
  .terms__title {
    font-size: 28px;
  }
  .terms-list__title {
    padding: 8px 0 8px 16px;
    font-size: 20px;
  }
}
