:root {
  --text-color: #2e3138;
  --blue-01: #4a90e2;
  --blue-02: #d6eaf8;
  --side-bg: #f8f9fa;
  --line-color: #dddddd;
  --att-color-01: #d32f2f;
  --att-color-02: #e65100;
  --att-color-03: #1976d2;
  --sidebar-width_open: 240px;
  --sidebar-width_close: 72px;
}

* {
  color: var(--text-color);
  font-family: "Noto Sans JP", sans-serif;
}

.in-bl {
  display: inline-block;
}

/* Google icons */
.material-symbols-outlined {
  font-size: 28px;
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-display: swap;
}

.sp-only {
  display: none !important;
}

@media (max-width: 599px) {
  .sp-only {
    display: block !important;
  }

  .sp-none {
    display: none !important;
  }
}
