:root {
  --text-color: #2e3138;
  --blue-01: #4a90e2;
  --blue-02: #d6eaf8;
  --side-bg: #f8f9fa;
  --line-color: #dddddd;
  --att-color-01: #d32f2f;
  --att-color-02: #e65100;
  --att-color-03: #1976d2;
  --sidebar-width_pc: 240px;
  --sidebar-width_tb: 80px;
}

* {
  color: var(--text-color);
}

.in-bl {
  display: inline-block;
}

.material-symbols-outlined {
  font-size: 28px;
}
