.btn {
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 14px 24px;
  transition: 0.3s all;
}
.btn:hover {
  background-color: #ddd;
}

.btn--record {
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
}
.btn--record:hover {
  background-color: #fff;
}
.btn--record .material-symbols-outlined,
.btn--record .btn__text {
  color: #fff;
}
.btn--record:hover .material-symbols-outlined,
.btn--record:hover .btn__text {
  color: var(--text-color);
}

.btn--more,
.btn--cancel,
.btn--select,
.btn--select:hover {
  background-color: var(--blue-02);
  gap: 8px;
}
.btn--more:hover,
.btn--cancel:hover {
  background-color: var(--blue-01);
}

.btn--logout,
.btn--acc-delete,
.btn--data-delete {
  background-color: #fff;
  border: 2px solid var(--att-color-03);
  width: 200px;
  justify-content: center;
}
.btn--logout:hover .btn__text,
.btn--acc-delete:hover .btn__text,
.btn--data-delete:hover .btn__text {
  color: #fff;
}

.btn--logout {
  border-color: var(--att-color-03);
}
.btn--logout .btn__text {
  color: var(--att-color-03);
}
.btn--logout:hover {
  background-color: var(--att-color-03);
}

.btn--acc-delete {
  border-color: var(--att-color-01);
}
.btn--acc-delete .btn__text {
  color: var(--att-color-01);
}
.btn--acc-delete:hover {
  background-color: var(--att-color-01);
}

.btn--data-delete {
  border-color: var(--att-color-02);
}
.btn--data-delete .btn__text {
  color: var(--att-color-02);
}
.btn--data-delete:hover {
  background-color: var(--att-color-02);
}
