.btn {
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 14px 24px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #ddd;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.btn--record {
  border: 2px solid var(--text-color);
  background-color: var(--text-color);
}
.btn--record:hover {
  background-color: #fff;
}
.btn--record .material-symbols-outlined,
.btn--record .btn__text {
  color: #fff;
}
.btn--record:hover .material-symbols-outlined,
.btn--record:hover .btn__text {
  color: var(--text-color);
}

.btn--select {
  pointer-events: none;
}

.btn--more,
.btn--cancel,
.btn--select,
.btn--select:hover,
.btn--login {
  background-color: var(--blue-02);
  gap: 8px;
}
.btn--more:hover,
.btn--cancel:hover,
.btn--login:hover,
.btn--account {
  background-color: var(--blue-01);
}

.btn--account:hover {
  background-color: var(--text-color);
}

.btn--att-color-03,
.btn--att-color-01,
.btn--att-color-02 {
  background-color: #fff;
  border: 2px solid var(--att-color-03);
  justify-content: center;
}
.page .btn--att-color-03,
.page .btn--att-color-01,
.page .btn--att-color-02 {
  width: 200px;
}
.btn--att-color-03:hover .btn__text,
.btn--att-color-01:hover .btn__text,
.btn--att-color-02:hover .btn__text,
.btn--att-color-02:hover .btn__text,
.btn--account .btn__text {
  color: #fff;
}

.btn--att-color-03 {
  border-color: var(--att-color-03);
}
.btn--att-color-03 .btn__text {
  color: var(--att-color-03);
}
.btn--att-color-03:hover {
  background-color: var(--att-color-03);
}

.btn--att-color-01 {
  border-color: var(--att-color-01);
}
.btn--att-color-01 .btn__text {
  color: var(--att-color-01);
}
.btn--att-color-01:hover {
  background-color: var(--att-color-01);
}

.btn--att-color-02 {
  border-color: var(--att-color-02);
}
.btn--att-color-02 .btn__text {
  color: var(--att-color-02);
}
.btn--att-color-02:hover {
  background-color: var(--att-color-02);
}

.btn--user {
  background-color: var(--att-color-03);
  border: 2px solid var(--att-color-03);
}
.btn--user .btn__text {
  color: #fff;
}
.btn--user:hover {
  background-color: #fff;
}
.btn--user:hover .btn__text {
  color: var(--att-color-03);
}

.btn--logout {
  background-color: #fff;
}
.btn--logout .btn__text {
  color: var(--text-color);
}
.btn--logout:hover {
  background-color: var(--text-color);
}
.btn--logout:hover .btn__text {
  color: #fff;
}

.btn--w-100 {
  width: 100%;
  justify-content: center;
}

.btn--pwd {
  width: 20px;
  height: 20px;
}
.btn--pwd .material-symbols-outlined {
  font-size: 20px;
  pointer-events: none;
}
