.card {
  border: 1px solid var(--line-color);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

/* 体重情報カード */
.weight-summary {
  display: flex;
  gap: 24px;
}
.weight-summary__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  width: 33.3%;
  height: 120px;
}
.weight-summary__text {
  font-size: 24px;
}
.weight-summary__num {
  font-size: 32px;
}
/* / 体重情報カード */

/* 今日の一言メモカード */
.today-memo {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}
.today-memo__title {
  width: 120px;
  font-weight: bold;
}
.today-memo__text {
  flex: 1;
}
/* / 今日の一言メモカード */

/* 体重グラフカード */
.weight-graph {
  padding: 16px 24px 32px;
}
.weight-graph__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.weight-graph__meta {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: bold;
}
.weight-graph__title {
  font-size: 20px;
}
.weight-graph__graph {
  aspect-ratio: 2 / 1;
  width: 100%;
  padding: 0 8px;
}
#graph {
  width: 100%;
}
/* / 体重グラフカード */

@media (max-width: 999px) {
  /* 体重情報カード */
  .weight-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .weight-summary__block {
    width: calc(50% - 24px / 2);
  }
  .weight-summary__block--main {
    width: 100%;
  }
  /* / 体重情報カード */

  /* 体重グラフカード */
  .weight-graph__graph {
    padding: 0;
  }
  /* / 体重グラフカード */
}

@media (max-width: 599px) {
  /* 体重情報カード */
  .weight-summary__block {
    width: 100%;
  }
  /* / 体重情報カード */

  /* 今日の一言メモカード */
  .today-memo {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  /* / 今日の一言メモカード */

  /* 体重グラフカード */
  .weight-graph {
    padding: 16px 16px 24px;
  }
  .weight-graph__meta {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .weight-graph__date {
    font-size: 14px;
  }
  .weight-graph .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
  .weight-graph__graph {
    aspect-ratio: 4 / 3;
  }
  /* / 体重グラフカード */
}
