.card {
  position: relative;
  border: 1px solid var(--line-color);
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

/* 体重情報カード */
.weight-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.weight-summary__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  width: calc(33.3% - 16px);
  height: 120px;
}
.weight-summary__admin {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: var(--blue-02);
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  transition: 0.3s all;
}
.weight-summary__admin .material-symbols-outlined {
  font-size: 20px;
}
.weight-summary__admin:hover {
  background-color: var(--blue-01);
}
.weight-summary__title {
  text-align: center;
}
.weight-summary__text {
  font-size: 24px;
}
.weight-summary__num {
  font-size: 32px;
}
/* / 体重情報カード */

/* 今日の一言メモカード */
.today-memo {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}
.today-memo__title {
  width: 120px;
  font-weight: bold;
}
.today-memo__text {
  flex: 1;
}
/* / 今日の一言メモカード */

/* 体重グラフカード */
.weight-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 32px 24px;
}
.home .weight-graph {
  padding-top: 16px;
}

/* .weight-graph__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
} */

.weight-graph__meta {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: bold;
}

.weight-graph__switch {
  display: flex;
  gap: 4px;
}
.weight-graph__switch .btn {
  justify-content: center;
  border-radius: 8px;
  font-weight: 500;
  width: 64px;
  padding: 8px;
}

.weight-graph__graph {
  aspect-ratio: 2 / 1;
  width: 100%;
  padding: 0 8px;
}
#graph {
  width: 100%;
}
/* / 体重グラフカード */

@media (max-width: 999px) {
  /* 体重情報カード */
  .weight-summary__block {
    width: calc(50% - 24px / 2);
  }
  .weight-summary__block--main {
    width: 100%;
  }
  /* / 体重情報カード */

  /* 体重グラフカード */
  .weight-graph__graph {
    padding: 0;
  }
  /* / 体重グラフカード */
}

@media (max-width: 599px) {
  /* 体重情報カード */
  .weight-summary {
    gap: 16px;
  }
  .weight-summary__block {
    width: 100%;
  }
  /* / 体重情報カード */

  /* 今日の一言メモカード */
  .today-memo {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  /* / 今日の一言メモカード */

  /* 体重グラフカード */
  .weight-graph {
    padding: 16px 16px 24px;
  }
  .weight-graph__meta {
    order: 1;
    gap: 16px;
  }
  .weight-graph__title {
    font-size: 18px;
  }
  .weight-graph__date {
    font-size: 14px;
  }
  .weight-graph .btn,
  .weight-graph__switch {
    order: 3;
  }
  .weight-graph__switch {
    justify-content: space-between;
    width: 100%;
  }
  .weight-graph__switch .btn {
    width: 60px;
  }
  .weight-graph .btn .material-symbols-outlined {
    font-size: 20px;
  }
  .weight-graph__graph {
    order: 2;
    aspect-ratio: 4 / 3;
  }
  /* / 体重グラフカード */
}

@media (max-width: 399px) {
  .weight-graph__switch {
    font-size: 3.6vw;
  }
  .weight-graph__switch .btn {
    width: 15vw;
  }
}
