.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(34, 34, 34, 0.75);
  width: 100%;
  height: 100%;
  padding: 80px 0;
  overflow: auto;
  z-index: 999;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  width: 95%;
  max-width: 600px;
}

.close-logo {
  position: absolute;
  top: 16px;
  right: 16px;
  transform: rotate(45deg);
}

.modal-width {
  max-width: 480px;
  margin: auto;
  padding: 0 24px;
}

.modal-title {
  font-size: 20px;
  padding: 32px 0;
}

.modal-text {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 32px;
}
.account-create .modal-text {
  padding-bottom: 24px;
}

.modal-record__date,
.modal-record-admin__date {
  display: flex;
  align-items: center;
  gap: 16px;
}
.modal-record__date {
  padding: 24px 16px 28px;
}
.modal-record-admin__date {
  padding: 24px 24px 28px;
}
.date__contents {
  font-size: 18px;
  font-weight: bold;
  width: 112px;
  text-align: center;
}
.date-next {
  transform: scale(-1, 1);
}
.date-next:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 24px 32px;
}
.modal-buttons.record-form__buttons {
  justify-content: flex-end;
}
.modal-width .modal-buttons {
  padding: 48px 0 32px;
}

.modal-buttons__group {
  display: flex;
  align-items: center;
  gap: 24px;
}
.modal-buttons__group--columns {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.modal-buttons .btn {
  height: 48px;
}

.modal-id {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--blue-02);
  border-radius: 8px;
  padding: 8px 16px 16px;
  margin-bottom: 24px;
}
.modal-id__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
}
.modal-id__label .material-symbols-outlined {
  font-size: 20px;
}
.modal-id__value {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.2;
  width: 100%;
  text-align: center;
}

.modal-att {
  font-weight: bold;
  padding-bottom: 32px;
}
.modal-att__label {
  color: var(--att-color-01);
  font-size: 18px;
  margin-bottom: 8px;
}

/* ステップでの表示切り替え */
.step {
  /* position: absolute; */
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.visible {
  /* visibility: visible;
  opacity: 1; */
  display: block;
  transform: translateX(0);
}
.hidden {
  /* visibility: hidden;
  opacity: 0; */
  display: none;
  transform: translateX(-100%);
}
/* / ステップでの表示切り替え */

@media (max-width: 599px) {
  .modal-text {
    font-size: 14px;
  }

  .modal-buttons {
    gap: 16px;
    padding: 24px 16px 32px;
  }
  .modal-buttons__group {
    gap: 16px;
  }
  .modal-buttons .btn {
    padding: 8px 16px;
    height: 40px;
  }
  .modal-buttons .btn__text {
    font-size: 14px;
  }

  .modal-title {
    font-size: 18px;
  }

  .modal-id {
    padding-bottom: 3vw;
  }
  .modal-id__value {
    font-size: 8.8vw;
  }

  .modal-att__label {
    font-size: 16px;
  }
  .modal-att__text {
    font-size: 14px;
  }
}
