.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(34, 34, 34, 0.75);
  width: 100%;
  height: 100%;
  padding: 80px 0;
  overflow: auto;
  z-index: 999;
}

.modal__container {
  /* position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%); */
  background-color: #fff;
  border-radius: 16px;
  width: 95%;
  max-width: 600px;
}

.modal-width {
  max-width: 480px;
  margin: auto;
  padding: 0 24px;
}

.modal-title {
  font-size: 20px;
  padding: 32px 0;
}

.modal-record__date,
.modal-record-admin__date {
  display: flex;
  align-items: center;
  gap: 16px;
}
.modal-record__date {
  padding: 24px 16px 28px;
}
.modal-record-admin__date {
  padding: 24px 24px 28px;
}
.date__contents {
  font-size: 18px;
  font-weight: bold;
}
.date-next {
  transform: scale(-1, 1);
}
.date-next:disabled {
  opacity: 0.5;
}

.record-form__contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid var(--line-color);
  padding: 24px;
}
.record-form__contents:first-child {
  border-top: 1px solid var(--line-color);
}

.record-form__contents label {
  font-weight: bold;
  font-size: 18px;
}
.label-att {
  font-size: 14px;
  margin-left: 8px;
}
.record-form__input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.record-form__input input,
.record-form__input textarea {
  border: none;
  padding: 8px;
}
.record-form__input #weight {
  font-weight: bold;
  font-size: 20px;
  width: 104px;
}
.record-form__input #memo {
  width: 100%;
  min-height: 40px;
  overflow-y: hidden;
  resize: none;
  line-height: 1.6;
}
.weight__unit {
  font-weight: bold;
  font-size: 18px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 24px 24px 32px;
}
.modal-buttons.record-form__buttons {
  justify-content: flex-end;
}
.modal-width .modal-buttons {
  padding: 48px 0 32px;
}

.modal-buttons__group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.modal-buttons .btn {
  height: 48px;
}
/* .modal-width .modal-buttons .btn {
  justify-content: center;
  width: 160px;
} */

.basic-info-form__contents {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.label-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
.basic-info-form__flex {
  display: flex;
  gap: 8px;
}
.basic-info-form__input {
  position: relative;
  border: 1px solid var(--line-color);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.basic-info-form__input.click {
  box-shadow: var(--blue-01) 0px 0px 0px 1px;
  border-color: var(--blue-01);
}
.basic-info-form__input .text-label {
  display: flex;
}
.basic-info-form__input .select-label {
  display: flex;
  position: relative;
  cursor: auto;
}
.basic-info-form__input .select-label::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 16px;
  width: 8px;
  height: 8px;
  border-right: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  transform: rotate(45deg);
}
.basic-info-form__input.click .select-label::before {
  border-color: var(--blue-01);
}
.basic-info-form__input .label-name {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 8px 0;
  pointer-events: none;
  height: 100%;
  transition: 0.2s all;
  z-index: 1;
}
.basic-info-form__input .select-label .label-name {
  transition: none;
}
.basic-info-form__input.click .label-name {
  color: var(--blue-01);
}
.basic-info-form__input.text-on .label-name {
  font-size: 12px;
  padding-top: 4px;
}
.basic-info-form__input .label-input {
  margin-top: 16px;
  padding: 8px;
  width: 100%;
}
.basic-info-form__input .select-label .label-input {
  padding-top: 24px;
  margin-top: 0;
}
.basic-info-form__input input,
.basic-info-form__input select {
  border: none;
  width: 100%;
}
.basic-info-form__input select {
  -webkit-appearance: none;
  appearance: none;
}
.basic-info-form__input input:focus-visible,
.basic-info-form__input select:focus-visible {
  outline: none;
}

.basic-info-form__gender .basic-info-form__flex {
  gap: 40px;
}
.basic-info-form__radio {
  position: relative;
}
.basic-info-form__radio .gender-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
.basic-info-form__radio .gender-label input {
  accent-color: var(--blue-01);
  inline-size: 20px;
  block-size: 20px;
}

@media (max-width: 599px) {
  .modal__container {
    top: 14vh;
  }

  .record-form__input input,
  .record-form__input textarea {
    padding: 4px;
  }
  .record-form__input #memo {
    min-height: 64px;
  }

  .modal-buttons {
    gap: 16px;
    padding: 24px 16px 32px;
  }
  .modal-buttons__group {
    gap: 16px;
  }
  .modal-buttons .btn {
    padding: 8px 16px;
    height: 40px;
  }
  .modal-buttons .btn__text {
    font-size: 14px;
  }

  .modal-title {
    font-size: 18px;
  }
  .basic-info-form__input .label-name,
  .label-title {
    font-size: 16px;
  }
  .basic-info-form__input .label-name {
    padding-top: 16px;
  }
}
